<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <!--    <Properties>-->
    <!--        <property name="LOG_PATH" value="./logs" />-->
    <!--        <property name="LOG_FILE_NAME" value="application-log4j2" />-->
    <!--    </Properties>-->
    <Properties>
        <property name="LOG_PATH" value="./logs"/>
    </Properties>

    <Appenders>
        <Console name="ConsoleOutput" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %-40.40c{1.} :%m%n%ex</Pattern>
            </PatternLayout>
        </Console>
        <!--        <RollingFile name="LogFile"-->
        <!--                     fileName="logs/varthana-test/inventory.log"-->
        <!--                     filePattern="logs/varthana-test`/inventory-%d{yyyy-MM-dd}-%i.log">-->
        <!--            <PatternLayout>-->
        <!--                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n-->
        <!--                </pattern>-->
        <!--            </PatternLayout>-->
        <!--            <Policies>-->
        <!--                <OnStartupTriggeringPolicy />-->
        <!--                <SizeBasedTriggeringPolicy size="10 MB" />-->
        <!--                <TimeBasedTriggeringPolicy />-->
        <!--            </Policies>-->
        <!--        </RollingFile>-->
        <RollingFile name="UserControllerAppender"
                     fileName="${LOG_PATH}/UserController.log"
                     filePattern="${LOG_PATH}/UserController-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="ProductControllerAppender"
                     fileName="${LOG_PATH}/ProductController.log"
                     filePattern="${LOG_PATH}/ProductController-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="PurchaseControllerAppender"
                     fileName="${LOG_PATH}/PurchaseController.log"
                     filePattern="${LOG_PATH}/PurchaseController-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="OrderedProductControllerAppender"
                     fileName="${LOG_PATH}/OrderedProductController.log"
                     filePattern="${LOG_PATH}/OrderedProductController-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="OrderedProductRestControllerAppender"
                     fileName="${LOG_PATH}/OrderedProductRestController.log"
                     filePattern="${LOG_PATH}/OrderedProductRestController-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="ProductRestControllerAppender"
                     fileName="${LOG_PATH}/ProductRestController.log"
                     filePattern="${LOG_PATH}/ProductRestController-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="SaleRestControllerAppender"
                     fileName="${LOG_PATH}/SaleRestController.log"
                     filePattern="${LOG_PATH}/SaleRestController-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="SaleControllerAppender"
                     fileName="${LOG_PATH}/SaleController.log"
                     filePattern="${LOG_PATH}/SaleController-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleOutput"/>
            <AppenderRef ref="LogFile"/>
        </Root>
        <logger name="com.log" level="trace" additivity="false">
            <appender-ref ref="LogFile"/>
            <appender-ref ref="ConsoleOutput"/>
        </logger>

        <Logger name="userControllerLogs" level="debug" additivity="false">
            <AppenderRef ref="UserControllerAppender" />
        </Logger>
        <Logger name="ProductControllerLogs" level="debug" additivity="false">
            <AppenderRef ref="ProductControllerAppender" />
        </Logger>
        <Logger name="PurchaseControllerLogs" level="debug" additivity="false">
            <AppenderRef ref="PurchaseControllerAppender" />
        </Logger>
        <Logger name="OrderedProductControllerLogs" level="debug" additivity="false">
            <AppenderRef ref="OrderedProductControllerAppender" />
        </Logger>
        <Logger name="OrderedProductRestControllerLogs" level="debug" additivity="false">
            <AppenderRef ref="OrderedProductRestControllerAppender" />
        </Logger>
        <Logger name="ProductRestControllerLogs" level="debug" additivity="false">
            <AppenderRef ref="ProductRestControllerAppender" />
        </Logger>
        <Logger name="SaleRestControllerLogs" level="debug" additivity="false">
            <AppenderRef ref="SaleRestControllerAppender" />
        </Logger>
        <Logger name="SaleControllerLogs" level="debug" additivity="false">
            <AppenderRef ref="SaleControllerAppender" />
        </Logger>

    </Loggers>

</Configuration>