<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <property name="LOG_PATH" value="./logs"/>
    </Properties>

    <Appenders>
        <Console name="ConsoleOutput" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %-40.40c{1.} :%m%n%ex</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="UserControllerAppender"
                     fileName="${LOG_PATH}/UserControllerLogs.log"
                     filePattern="${LOG_PATH}/UserControllerLogs-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="ProductControllerAppender"
                     fileName="${LOG_PATH}/ProductControllerLogs.log"
                     filePattern="${LOG_PATH}/ProductControllerLogs-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="PurchaseControllerAppender"
                     fileName="${LOG_PATH}/PurchaseControllerLogs.log"
                     filePattern="${LOG_PATH}/PurchaseControllerLogs-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="OrderedProductControllerAppender"
                     fileName="${LOG_PATH}/OrderedProductControllerLogs.log"
                     filePattern="${LOG_PATH}/OrderedProductControllerLogs-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="OrderedProductRestControllerAppender"
                     fileName="${LOG_PATH}/OrderedProductRestControllerLogs.log"
                     filePattern="${LOG_PATH}/OrderedProductRestControllerLogs-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="ProductRestControllerAppender"
                     fileName="${LOG_PATH}/ProductRestControllerLogs.log"
                     filePattern="${LOG_PATH}/ProductRestControllerLogs-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="SaleRestControllerAppender"
                     fileName="${LOG_PATH}/SaleRestControllerLogs.log"
                     filePattern="${LOG_PATH}/SaleRestControllerLogs-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="SaleControllerAppender"
                     fileName="${LOG_PATH}/SaleControllerLogs.log"
                     filePattern="${LOG_PATH}/SaleControllerLogs-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleOutput"/>
            <AppenderRef ref="LogFile"/>
        </Root>
        <logger name="com.log" level="trace" additivity="false">
            <appender-ref ref="LogFile"/>
            <appender-ref ref="ConsoleOutput"/>
        </logger>

        <Logger name="userControllerLogs" level="debug" additivity="false">
            <AppenderRef ref="UserControllerAppender" />
        </Logger>
        <Logger name="ProductControllerLogs" level="debug" additivity="false">
            <AppenderRef ref="ProductControllerAppender" />
        </Logger>
        <Logger name="PurchaseControllerLogs" level="debug" additivity="false">
            <AppenderRef ref="PurchaseControllerAppender" />
        </Logger>
        <Logger name="OrderedProductControllerLogs" level="debug" additivity="false">
            <AppenderRef ref="OrderedProductControllerAppender" />
        </Logger>
        <Logger name="OrderedProductRestControllerLogs" level="debug" additivity="false">
            <AppenderRef ref="OrderedProductRestControllerAppender" />
        </Logger>
        <Logger name="ProductRestControllerLogs" level="debug" additivity="false">
            <AppenderRef ref="ProductRestControllerAppender" />
        </Logger>
        <Logger name="SaleRestControllerLogs" level="debug" additivity="false">
            <AppenderRef ref="SaleRestControllerAppender" />
        </Logger>
        <Logger name="SaleControllerLogs" level="debug" additivity="false">
            <AppenderRef ref="SaleControllerAppender" />
        </Logger>

    </Loggers>

</Configuration>